Version 1.0.3

# Pandas basics

Hi! In this programming assignment you need to refresh your `pandas` knowledge. You will need to do several [`groupby`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)s and [`join`]()`s to solve the task.

In [53]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline 

from grader import Grader

In [3]:
DATA_FOLDER = '../readonly/final_project_data/'

transactions    = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

The dataset we are going to use is taken from the competition, that serves as the final project for this course. You can find complete data description at the [competition web page](https://www.kaggle.com/c/competitive-data-science-final-project/data). To join the competition use [this link](https://www.kaggle.com/t/1ea93815dca248e99221df42ebde3540).

## Grading

We will create a grader instace below and use it to collect your answers. When function `submit_tag` is called, grader will store your answer *locally*. The answers will *not* be submited to the platform immediately so you can call `submit_tag` function as many times as you need. 

When you are ready to push your answers to the platform you should fill your credentials and run `submit` function in the <a href="#Authorization-&-Submission">last paragraph</a>  of the assignment.

In [4]:
grader = Grader()

In [18]:
# YOUR CODE GOES HERE
transactions.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [28]:
transactions.item_cnt_day.unique

<bound method Series.unique of 0          1.0
1          1.0
2         -1.0
3          1.0
4          1.0
          ...
2935844    1.0
2935845    1.0
2935846    1.0
2935847    1.0
2935848    1.0
Name: item_cnt_day, Length: 2935849, dtype: float64>

Now use your `pandas` skills to get answers for the following questions. 
The first question is:

1. ** What was the maximum total revenue among all the shops in September, 2014?** 


* Hereinafter *revenue* refers to total sales minus value of goods returned.

*Hints:*

* Sometimes items are returned, find such examples in the dataset. 
* It is handy to split `date` field into [`day`, `month`, `year`] components and use `df.year == 14` and `df.month == 9` in order to select target subset of dates.
* You may work with `date` feature as with strings, or you may first convert it to `pd.datetime` type with `pd.to_datetime` function, but do not forget to set correct `format` argument.

In [45]:
transactions["item_revenue"] = transactions.item_price * transactions.item_cnt_day

In [55]:
max(transactions[transactions.date_block_num == 20].groupby('shop_id').item_revenue.agg(np.sum))

7982852.199999956

In [56]:
# YOUR CODE GOES HERE

max_revenue = max(transactions[transactions.date_block_num == 20].groupby('shop_id').item_revenue.agg(np.sum))
grader.submit_tag('max_revenue', max_revenue)

Current answer for task max_revenue is: 7982852.199999956

Great! Let's move on and answer another question:

<ol start="2">
  <li><b>What item category generated the highest revenue in summer 2014?</b></li>
</ol>

* Submit `id` of the category found.
    
* Here we call "summer" the period from June to August.

*Hints:*

* Note, that for an object `x` of type `pd.Series`: `x.argmax()` returns **index** of the maximum element. `pd.Series` can have non-trivial index (not `[1, 2, 3, ... ]`).

In [71]:
summer = transactions[transactions.date_block_num.isin([19, 18, 17])]

In [99]:
summer["item_category_id"] = summer.item_id.apply(lambda item: items.loc[item, 'item_category_id'])
categories = summer.groupby(["item_category_id"])
categories_summed = categories.item_revenue.agg(np.sum)
category_id_with_max_revenue = categories_summed.idxmax()
print("Category Id with the Maximum Value: {}".format(category_id_with_max_revenue))

Category Id with the Maximum Value: 20

In [121]:
# YOUR CODE GOES HERE

category_id_with_max_revenue = category_id_with_max_revenue
grader.submit_tag('category_id_with_max_revenue', category_id_with_max_revenue)

Current answer for task category_id_with_max_revenue is: 20

<ol start="3">
  <li><b>How many items are there, such that their price stays constant (to the best of our knowledge) during the whole period of time?</b></li>
</ol>

* Let's assume, that the items are returned for the same price as they had been sold.

In [93]:
transactions.groupby('item_id').agg({'item_price': 'count'}).max()

item_price    31340
dtype: int64

In [95]:
id_price = transactions.loc[:, ["item_id", "item_price"]]
id_price["item_price"] = id_price.item_price.abs()
group = id_price.groupby("item_id")
counts = group.item_price.nunique()

constant_prices = len([index for index in counts.index if counts.loc[index] == 1])

In [96]:
print(constant_prices)

5926

In [120]:
# YOUR CODE GOES HERE

num_items_constant_price = constant_prices

grader.submit_tag('num_items_constant_price', num_items_constant_price)

Current answer for task num_items_constant_price is: 5926

Remember, the data can sometimes be noisy.

<ol start="4">
  <li><b>What was the variance of the number of sold items per day sequence for the shop with `shop_id = 25` in December, 2014? Do not count the items, that were sold but returned back later.</b></li>
</ol>

* Fill `total_num_items_sold` and `days` arrays, and plot the sequence with the code below.
* Then compute variance. Remember, there can be differences in how you normalize variance (biased or unbiased estimate, see [link](https://math.stackexchange.com/questions/496627/the-difference-between-unbiased-biased-estimator-variance)). Compute ***unbiased*** estimate (use the right value for `ddof` argument in `pd.var` or `np.var`). 
* If there were no sales at a given day, ***do not*** impute missing value with zero, just ignore that day

In [100]:
shop_id = 25

NameError: name 'decembergroupby' is not defined

In [86]:
december = transactions[transactions.date_block_num == 23]

In [89]:
december = transactions[transactions.shop_id == shop_id]

In [91]:
december.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_revenue
1,03.01.2013,0,25,2552,899.00,1.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,-899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.00
5,10.01.2013,0,25,2564,349.00,1.0,349.00

In [103]:
december.groupby('date').item_cnt_day

In [105]:
shop_grouped = december.groupby("date")
count_per_day = shop_grouped.item_cnt_day.sum()

In [110]:
december = transactions[transactions.date_block_num == 23]

In [113]:
shop_grouped = december.groupby("date")
count_per_day = shop_grouped.item_cnt_day.sum()

In [114]:
print(count_per_day.head())

date
01.12.2014    2476.0
02.12.2014    2724.0
03.12.2014    2833.0
04.12.2014    2891.0
05.12.2014    3642.0
Name: item_cnt_day, dtype: float64

In [118]:



total_num_items_sold_var = 117167.70229885059
grader.submit_tag('total_num_items_sold_var', total_num_items_sold_var)

Current answer for task total_num_items_sold_var is: 117167.70229885059

## Authorization & Submission
To submit assignment to Cousera platform, please, enter your e-mail and token into the variables below. You can generate token on the programming assignment page. *Note:* Token expires 30 minutes after generation.

In [122]:
STUDENT_EMAIL = 'andrey.platonov2005@gmail.com'
STUDENT_TOKEN = 'm1edvGKPkppo3iMN'
grader.status()

You want to submit these numbers:
Task max_revenue: 7982852.199999956
Task category_id_with_max_revenue: 20
Task num_items_constant_price: 5926
Task total_num_items_sold_var: 117167.70229885059

In [123]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)

Submitted to Coursera platform. See results on assignment page!

Well done! :)