In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../datasets/train (1).csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
# Сколько мужчин / женщин находилось на борту?
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [9]:
#Выведите распределение переменной Pclass (социально-экономический статус)
# и это же распределение, только для мужчин
#/ женщин по отдельности. Сколько было мужчин 2-го класса?
df.groupby('Sex').Pclass.value_counts()

Sex     Pclass
female  3         144
        1          94
        2          76
male    3         347
        1         122
        2         108
Name: Pclass, dtype: int64

In [32]:
#Каковы медиана и стандартное отклонение платежей (Fare)?
# Округлите до 2 десятичных знаков.
round(df.Fare.median(), 2), round(df.Fare.std(), 2)

(14.45, 49.69)

In [41]:
#Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет?
# Каковы доли выживших в обеих группах?
sum(df.Survived[df['Age'] <= 30]) > sum(df.Survived[df['Age'] >= 60])

True

In [57]:
pd.DataFrame({
    '<=30': df.Survived[df['Age'] <= 30].value_counts(normalize=True)[1],
    '>=60': df.Survived[df['Age'] >= 60].value_counts(normalize=True)[1]
}, index=[0])

       >=30      <=60
0  0.405868  0.269231

In [58]:
#Правда ли, что женщины выживали чаще мужчин?
# Каковы доли выживших в обеих группах?
df.groupby('Sex').agg({'Survived': 'count'})

        Survived
Sex
female       314
male         577

In [59]:
pd.DataFrame({
    'Male': df.Survived[df['Sex'] == 'male'].value_counts(normalize=True)[1],
    'Female': df.Survived[df['Sex'] >= 'female'].value_counts(normalize=True)[1]
}, index=[0])

       Male    Female
0  0.188908  0.383838

In [66]:
#Найдите самое популярное имя среди пассажиров Титаника мужского пола?
df.Name.apply(lambda x: x[:x.find(',')]).value_counts().sort_values(ascending=False)

Andersson       9
Sage            7
Johnson         6
Skoog           6
Panula          6
               ..
Sheerlinck      1
Vanden Steen    1
Persson         1
Rintamaki       1
Cribb           1
Name: Name, Length: 667, dtype: int64